<div class="cont-products">
    <div class="row">
        <div class="cont-two">
            
            <section class="section-vendido">
                <% products.forEach(product => { %>
                <article class="producto" id="productos">
                    <div class="caja">
                        <a href="/products/detail/<%- product.id %>"><img src="/img/products/<%- product.productImages[0].image %>" alt=""></a>
                    </div>
                <div class="container-product-index" id="card-bg">         
                <a href="/products/detail/<%- product.id %>" class="product-name"><%- product.name %></a>
                <div class="pri-dis">
                    <h4>$<%- toThousand(product.price - product.price * product.discount / 100) %></h4>
                    <span class="discount"><%- product.discount > 0 ? `${product.discount}$ OFF` : null
                     %></span>
                </div>
                </div>
                </article>
                <% }) %>
            </section>
            
        </div>
    </div>
</div> 