<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %>

<body class="body-header">

    <%- include('./partials/header.ejs') %>

    
        <div class="main-container" id="main">

            <%- include('./partials/carrousel.ejs') %>

            <div class="titulo">
                <h5>PRODUCTOS</h5>
            </div>
            <hr class="hr1">

            <section class="section-productos">

                <article class="productos-primary">
                    <div class="caja">
                        <div class="cont-fondo">
                            <a href="/">
                            <div class="fondo-negro"></div>
                            <div class="cont-title">
                                <h3>Figuras Originales</h3>
                                <span>Encuentra esa figura que tanto estabas buscando.</span>
                            </div>
                            <img src="/img/categorias/figuras.jpg" alt="imagen de categoria figuras">
                            </a>
                        </div>
                    </div>
                </article>

                <article class="productos-primary">
                    <div class="caja">
                        <div class="cont-fondo">
                        <a href="">
                            <div class="fondo-negro"></div>
                            <div class="cont-title">
                                <h3>Lamparas Exclusivas</h3>
                                <span>Una para Sauron, y una lampara para iluminarlos a todos.</span>
                            </div>
                            <img src="/img/categorias/jotaro lampara.jpg" alt="imagen de categoria lamparas">
                        </a>
                        </div>
                    </div>
                </article>

                <article class="productos-primary">
                    <div class="caja">
                        <div class="cont-fondo">
                            <a href="">
                            <div class="fondo-negro"></div>
                            <div class="cont-title">
                                <h3>Tazas Magicas</h3>
                                <span>Encuentra esa figura que tanto estabas buscando</span>
                            </div>
                            <img src="/img/categorias/tazas.jpg" alt="imagend de categoria tazas">
                            </a>
                        </div>
                    </div>
                </article>

            </section>

            <div class="titulo">
                <h5>LO MAS VENDIDO</h5>
            </div>
            <hr class="hr1">

            <div class="cont-products">
                <div class="row">
                    <div class="cont-two">
                        
                            <%- include('./partials/cardProduct.ejs') %>
                        
                    </div>
                </div>
            </div> 

            <div class="boton-productos">
                <a href="/products/allProducts">
                    <h4>VER TODOS LOS PRODUCTOS</h4>
                </a>
            </div>          
        </div>

        <%- include('./partials/sliderPubli.ejs') %>
        

        <button class="ancla" id="button-up"><i class="far fa-angle-up"></i></button>
    
        <%- include('./partials/infoEnvios.ejs') %>
        <%- include('./partials/footer.ejs') %>
        <%- include('./partials/scripts.ejs') %>
        <script src="/js/carrousel.js"></script>       
        <script src="/js/scrollTop.js"></script>       
        <script src="/js/sliderPu.js"></script>       

</body>

</html>


