<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %>

<body class="body-header">

    <%- include('./partials/header.ejs') %>

    <main class="main">
        <div class="main-container">

            <%- include('./partials/carrousel.ejs') %>

            <div class="titulo">
                <h5>PRODUCTOS</h5>
            </div>
            <hr class="hr1">

            <section class="section-productos">

                <article class="productos-primary">
                    <div class="caja">
                        <div>
                            <a href=""><img src="/img/categorias/araña.jpg" alt=""></a>
                        </div>
                    </div>
                    <h4><a href="/">Comics y Manga</a></h4>
                </article>

                <article class="productos-primary">
                    <div class="caja">
                        <div>
                            <a href=""><img src="/img/categorias/iron.jpg" alt=""></a>
                        </div>
                    </div>
                    <h4><a href="/">Tazas</a></h4>
                </article>

                <article class="productos-primary">
                    <div class="caja">
                        <div>
                            <a href=""><img src="/img/categorias/peluches.jpeg" alt="imagens de categoria peluches"></a>
                        </div>
                    </div>
                    <h4><a href="/">Peluches</a></h4>
                </article>

                <article class="productos-primary">
                    <div class="caja">
                        <div>
                            <a href=""><img src="/img/categorias/jotaro lampara.jpg" alt="imagen de categoria lamparas"></a>
                        </div>
                    </div>
                    <h4><a href="/">Lamparas</a></h4>
                </article>

                <article class="productos-primary">
                    <div class="caja">
                        <div>
                            <a href=""><img src="/img/categorias/god.jpg" alt=""></a>
                        </div>
                    </div>
                    <h4><a href="/">Videojuegos</a></h4>
                </article>

                <article class="productos-primary">
                    <div class="caja">
                        <div>
                            <a href=""><img src="/img/categorias/funkos.jpg" alt="imagen categoria funkos"></a>
                        </div>
                    </div>
                    <h4><a href="/">Funko Pop!</a></h4>
                </article>
            </section>

            <div class="titulo">
                <h5>LO MAS VENDIDO</h5>
            </div>
            <hr class="hr1">


            <section class="section-vendido">
                <% products.forEach(product => { %>
                <article class="producto">
                    <div class="caja">
                        <a href="/products/detail/<%- product.id %>"><img src="/img/imagenes home/<%- product.productImages[0].image %>" alt=""></a>
                    </div>
                <div class="container-product-index">         
                <a href="/products/detail/<%- product.id %>" class="product-name"><%- product.name %></a>
                <div class="pri-dis">
                    <h4>$<%- toThousand(product.price - product.price * product.discount / 100) %></h4>
                    <span class="discount"><%- product.discount > 0 ? `${product.discount}$ OFF` : " " %></span>
                </div>
                </div>
                </article>
                <% }) %>
            </section>

            <div class="boton-productos">
                <a href="">
                    <h4>VER TODOS LOS PRODUCTOS</h4>
                </a>
            </div>

            <section class="zonas">

                <article class="item card-bg marvel">
                    <img src="/img/zonas/marvel.jpg" alt="">
                    <div class="card-data">
                        <h2>ZONA MARVEL</h2>
                    </div>
                </article>

                <article class="item card-bg dc">
                    <img src="/img/zonas/dc.jpg" alt="">
                    <div class="card-data">
                        <h2>ZONA DC</h2>
                    </div>
                </article>

                <article class="item card-bg anime">
                    <img src="/img/zonas/anime.jpg" alt="">
                    <div class="card-data">
                        <h2>ZONA ANIME</h2>
                    </div>
                </article>

            </section>
        </div>
    </main>

    <section class="info">
        <div class="container-info">

            <div class="tarjeta-truck">
                <div class="tarjeta">
                    <div class="icon-tarjeta">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="text">
                        <p>Envios a todo el pais</p>
                        <label>Por correo Argentino</label>
                    </div>
                </div>
            </div>

            <div class="tarjeta-shield">
                <div class="tarjeta">
                    <div class="icon-tarjeta">
                        <i class="fas fa-shield-alt"></i>
                    </div>
                    <div class="text">
                        <p>Sitio seguro</p>
                        <label>Protegemos tus datos</label>
                    </div>
                </div>
            </div>

            <div class="tarjeta-card">
                <div class="tarjeta">
                    <div class="icon-tarjeta">
                        <i class="fas fa-credit-card"></i>
                    </div>
                    <div class="text">
                        <p>Paga con tarjeta de credito</p>
                        <label>Hasta en 12 cuotas</label>
                    </div>
                </div>
            </div>

    </section>

    <script src="/js/carrousel.js"></script>

    <%- include('./partials/footer.ejs') %>

</body>

</html>


