<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs')  %> 

    <body class="admin">

    <%- include('./partials/headerAdmin.ejs')  %> 
    
            <div class="form-container-admin">
                <h2>Esta editando el producto:      <%= product.name %></h2>
                <form action="/admin/<%= product.id %>?_method=PUT" method="POST">
                    <div class="form-admin">
                        <div class="input-admin">
                            <label for="name">Nombre del Producto</label>
                            <input class="input-style-admin" type="text" name="name" placeholder="Ej: Guante del infinito" value="<%= product.name %>">
                            <span class="error-message">Debes ingresar el nombre del producto</span>
                        </div>
                        <div class="input-admin">
                            <label for="price">Precio del producto</label>
                            <input class="input-style-admin" type="text" name="price" placeholder="Ej: 3000" value="<%= product.price %>">
                            <span class="error-message">Debes ingresar un precio</span>
                        </div>
                        <div class="input-admin">
                            <label for="discount">Descuento</label>
                            <input class="input-style-admin" type="text" name="discount" placeholder="Ej: 50" value="<%= product.discount %>">
                            <span class="error-message">Debes ingresar el descuento</span>
                        </div>
                        <div class="input-admin description">
                            <label for="description">Descripcion</label>
                            <textarea class="description" name="description" id="description"><%= product.description %></textarea>
                            <span class="error-message">Debes ingresar una descripcion</span>
                        </div>
                       
                        <div class="button-admin">
                            <span class="error-message">Hubo errores en el envío</span>
                            <button type="submit" class="btn btn-submit">Guardar producto</button>
                        </div>
                
                    </div>
                    
                </form>
            </div>

</body>
</html>