<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs')  %> 

    <body class="admin">

    <%- include('./partials/headerAdmin.ejs')  %> 
    
            <div class="form-container-admin">
                <h2>Esta editando el producto:<%= product.name %></h2>
                <form action="/admin/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="form-admin">
                        <div class="input-admin">
                            <label for="name">Nombre del Producto</label>
                            <input class="input-style-admin" type="text" name="name" placeholder="Ej: Guante del infinito" value="<%= product.name %>">
                            <small class="error-message">Ingresa un nombre</small>
                                
                        </div>
                        <div class="input-admin">
                            <label for="price">Precio del producto</label>
                            <input class="input-style-admin" type="text" name="price" placeholder="Ej: 3000" value="<%= product.price %>">
                            <small class="error-message">Ingresa un precio al producto</small>

                        </div>
                        <div class="input-admin">
                            <label for="discount">Descuento</label>
                            <input class="input-style-admin" type="text" name="discount" placeholder="Ej: 50" value="<%= product.discount %>">
                        </div>
                        <div class="input-admin description">
                            <label for="description">Descripcion</label>
                            <textarea class="description" name="description" id="description"><%= product.description %></textarea>
                        </div>
                       
                        <div class="container-file">
                            <i class="fas fa-upload"></i>
                            <p>Ingrese una Imagen</p>
                            <input type="file" name="image" id="" value="" id="inputImage" multiple>
                        </div>
                        <small class="error-message">Formato invalido</small>
                       

                        <div class="button-admin">
                            <button type="submit" class="btn btn-submit">Guardar producto</button>
                        </div>
                
                    </div>
                    
                </form>
            </div>

</body>
</html>