<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="categories">
        <div class="container-search-page">
            <% if (result.length > 0) { %>
                <h2 class="subtitle">Resultados de la búsqueda de: “<%- search %>“</h2>
                <section class="section-vendido">
                    <% result.forEach(product => { %>
                    <article class="producto">
                        <div class="caja">
                            <a href="/products/detail/<%- product.id %>"><img src="/img/products/<%- product.productImages[0].image %>" alt=""></a>
                        </div>
                    <div class="container-product-index">         
                    <a href="/products/detail/<%- product.id %>" class="product-name"><%- product.name %></a>
                    <div class="pri-dis">
                        <h4>$<%- toThousand(product.price - product.price * product.discount / 100) %></h4>
                        <span class="discount"><%- product.discount > 0 ? `${product.discount}$ OFF` : " " %></span>
                    </div>
                    </div>
                    </article>
                    <% }) %>
                </section>
            <% }else{%>
                <h2 class="subtitle">Pochita no encuentra resultados de la búsqueda de <%- search %> <img src="/img/pochita.png" alt="" class="img-noresults"></h2>
                
            <% } %>
        </div>
    </main>
    <%- include('./partials/footer.ejs')%>
    <script src="/js/categoriesSidePanel.js"></script>
</body>
</html>