<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="categories">
        <div class="cat_banner container-fluid">
            <img src="/images/categorias/<%= category.banner %> " alt="Portada de categoria <%= category.name %> ">
        </div>
        <div class="subcategories_menu-mobile">
            <div id="mySidepanel" class="sidepanel">
                <div class="boton-close">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                </div>
                <% subcategories.forEach(subcategory => { %>
                    <a href="/products/subcategory/<%- subcategory.id %>/<%- category.id %>"><%- subcategory.name %></a>
                <% }) %>    
            </div>
              
            <button class="openbtn" onclick="openNav()">Subcategorias</button>
        </div>
        <div class="container products-container">
            <aside class="subcategories_menu-desktop">
                <% subcategories.forEach(subcategory => { %>
                    <a href="/products/subcategory/<%- subcategory.id %>/<%- category.id %>"><%- subcategory.name %></a>
                <% }) %>   
            </aside>
            <section class="section-vendido">
                <% products.forEach(product => { %>
                <article class="producto">
                    <div class="caja">
                        <a href="/products/detail/<%- product.id %>"><img src="/img/products/<%- product.productImages[0].image %>" alt=""></a>
                    </div>
                <div class="container-product-index">         
                <a href="" class="product-name"><%- product.name %></a>
                <div class="pri-dis">
                    <h4>$<%- toThousand(product.price - product.price * product.discount / 100) %></h4>
                    <span class="discount"><%- product.discount > 0 ? `${product.discount}$ OFF` : " " %></span>
                </div>
                </div>
                </article>
                <% }) %>
            </section>
        </div>
    </main>
    <%- include('./partials/footer.ejs')%>
    <script src="/js/categoriesSidePanel.js"></script>
</body>
</html>