<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>   
</head>
<body>
    <%- include('../partials/header.ejs') %>
    
    <main class="allProducts">

        <div class="products-t">
            <ul class="atajos">
                <li><a href="/" class="inicio">Inicio</a></li>
                <li>/</li>
                <li><a href="">Productos</a></li>
            </ul>
            <h1>Productos</h1>
        </div>
   
        <div class="filter">
            <form action="/products/allProducts" method="get">
                <label for="filter">Ordenar por:</label>
                <div class="select-container">
                    <select class="select" name="filter" id="filter" onChange= this.form.submit()>
                        <option value=""></option>
                        <option value="priceMin">Precio: Menor a Mayor</option>
                        <option value="priceMay">Precio: Mayor a Menor</option>
                        <option value="nameAsc" >A - Z</option>
                        <option value="nameDesc">Z - A</option>
                    </select>
                </div>
                
            </form>
        </div>

        <%- include('../partials/cardProduct.ejs') %>

    </main>

    <button class="ancla" id="button-up"><i class="far fa-angle-up"></i></button>

<%- include('../partials/infoEnvios.ejs') %>
<%- include('../partials/footer.ejs') %>
</body>
</html>