<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')  %>

<body>
    
    <%- include('../partials/header.ejs')  %>
    
    <div class="product-detail">
        <div class="container-product-detail">
            <div class="container-images">
                <div class="images-products">
                    <!-- Container for the image gallery -->
                    <div class="container-d">
                        
                        <!-- Full-width images with number text -->
                        <% product.productImages.forEach(element => { %>
                        <div class="mySlides">
                            <div class="numbertext">1 / 4</div>
                                <img src="/img/products/<%- element.image %>" style="width:100%">
                            </div>
                        <% }) %>
                        
                        <!-- Next and previous buttons -->
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        
                       <!-- 
                        <div class="caption-container">
                            <p id="caption"></p>
                        </div> -->
                        
                        <!-- Thumbnail images -->
                        <div class="row">

                            <% product.productImages.forEach(element => { %>
                            <div class="column">
                                <img class="demo cursor" src="/img/products/<%- element.image %>" style="width:100%" onclick="currentSlide(4)" alt="">
                            </div>
                            <% }) %>
            
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        
        <section class="panel-detail">
            <div class="panel-container">
                <div class="container-data">

                    <div class="title-product">
                        <h1><%- product.name %></h1>
                    </div>

                    <div class="price-product">
                        <p>$<%- product.price %></p>
                    </div>
                    <div class="container-cantidad">
                        <div class="cantidad-inp">
                            <label for="">Cantidad</label>
                            <div class="input-cant-detail">
                                <input type="number" value="0">
                            </div>   
                        </div>
                    </div>
                </div>

                <section class="total-compra">
                    <div class="container-compra">
                        <button onclick="addItem('<%=product.id%>')">AGREGAR AL CARRITO</button>
                    </div>
                </section>

                <div class="container-envios detail">
                    <section class="container-send">

                         <div class="medios">
                            <span><i class="fas fa-truck"></i></span>
                            <span>Medios de envio</span>
                         </div>  
                         
                         <div class="postal">
                            <div class="input-postal">
                                    <input type="number" name="" id="" placeholder="Tu codigo postal">
                            </div>

                            <div class="calcular">
                                    <button>
                                            <span>CALCULAR</span>
                                    </button>
                            </div>
                         </div>

                         <div class="no-se">
                                 <a href="https://www.correoargentino.com.ar/formularios/cpa" target="_blank">No se mi codigo postal</a>
                         </div>

                    </section>

                    <div class="local">
                            <i class="fas fa-store"></i>
                            <span>Nuestro local</span>
                    </div>
                    
                    <section class="ubicacion-local">
                            <div class="container-radio">
                                    <input type="radio">
                            </div>

                            <div class="detalle-ubicacion">
                                    <span>Retirar por Mendoza Plaza Shopping-795, Guaymallen con n° de compra cuando figure como "listo para retirar" Los artículos se retiran en Mendoza Plaza Shopping-795, Piso 2 , Capital Federal. Horarios: Lunes a Sábados de 12 a 18hs, una vez que el pedido figure como "listo para retirar" en el link del mail de confirmación de compra.</span>
                            </div>

                            <div class="gratis second">
                                    <h2>Gratis</h2>
                            </div>
                    </section>
                </div>

                

            </div>

        </section>
        
        <section class="descripcion">
            <div class="descripcion-container">
                <h2>Descripcion</h2>
                <p><%- product.description %></p>
            </div>
        </section>
        
    </div>
    
    <%- include('../partials/infoEnvios.ejs') %>
    <%- include('../partials/footer.ejs')  %>
    <%- include('../partials/scripts.ejs')  %>
    <script src="/js/productDetail.js"></script>
    
</body>
</html>
