<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <%- include('../partials/header.ejs') %>
  
  <div class="cart">
    <div class="container-cart">
      <h2>Carrito de compras</h2>
      
      <div class="card">
        <div class="card-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Cantidad</th>
                <th scope="col">Imagen</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody id="carrito">
              <tr>
                <th scope="row">cant</th>
                <td>Imagen</td>
                <td>Producto</td>
                <td>Precio</td>
                <td>Subtotal</td>
                <td>Acciones</td>
              </tr>
            </tbody>  
          </table>
        </div>
      </div>
      
      <!-- <section class="container-subtotal">
        <div class="subtotal">
          <span class="">Subtotal <small>(Sin envio) :</small></span>
          <span class="price-subtotal">$5.000</span>
        </div>
      </section>
      
      <div class="container-envios">
        <section class="container-send">
          <div class="medios">
            <span><i class="fas fa-truck"></i></span>
            <span>Medios de envio</span>
          </div>
          
          <div class="postal">
            <div class="input-postal">
              <input
              type="number"
              name=""
              id=""
              placeholder="Tu codigo postal"
              />
            </div>
            
            <div class="calcular">
              <button>
                <span>CALCULAR</span>
              </button>
            </div>
          </div>
          
          <div class="no-se">
            <a
            href="https://www.correoargentino.com.ar/formularios/cpa"
            target="_blank"
            >No se mi codigo postal</a
            >
          </div>
        </section>
        
        <div class="local">
          <i class="fas fa-store"></i>
          <span>Nuestro local</span>
        </div>
        
        <section class="ubicacion-local">
          <div class="container-radio">
            <input type="radio" />
          </div>
          
          <div class="detalle-ubicacion">
            <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Quibusdam dicta quo corrupti laboriosam, cupiditate quos
            voluptatum fugiat illum deleniti in amet a cumque placeat
            maiores ut tempora. Obcaecati, aliquid voluptatum!</span
            >
          </div>
          
          <div class="gratis">
            <h2>Gratis</h2>
          </div>
        </section>
      </div>
      
      <div class="container-compras"></div>
      
      <section class="total-compra">
        <div class="total-resultado">
          <span class="s-total">Total:</span>
          <span>$5.000,12</span>
        </div>
        
        <div class="container-compra">
          <button>INICIAR COMPRA</button>
        </div>
      </section> -->
      
      
    </div>
  </div>
  
  <%-include('../partials/infoEnvios.ejs') %>
  <%-include('../partials/footer.ejs') %>
  <%-include('../partials/scripts.ejs') %>
</body>
</html>
