<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <%- include('../partials/header.ejs') %>
  
  <div class="cart">
    <div class="container-cart">
      <h2>Carrito de compras</h2>
      
      <div class="card">
        <div class="card-body table-responsive">
          <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Cantidad</th>
                          <th scope="col">Imagen</th>
                          <th scope="col">Producto</th>
                          <th scope="col">Precio</th>
                          <th scope="col">Subtotal</th>
                          <th scope="col">Acciones</th>
                        </tr>
                      </thead>
                      <tbody id="carrito">
                        <tr>
                          <th scope="row">cant</th>
                          <td>Imagen</td>
                          <td>Producto</td>
                          <td>Precio</td>
                          <td>Subtotal</td>
                          <td>Acciones</td>
                        </tr>
                      </tbody>
                   
                    </table>
                    <div class="btn-cart">
                      <button class="vaciar" onclick="emptyCart()">Vaciar carrito</button>
                      <button class="finalizar">Finalizar compra</button>
                    </div>
        </div>
      </div>
      
      <!-- <section class="container-subtotal">
        <div class="subtotal">
          <span class="">Subtotal <small>(Sin envio) :</small></span>
          <span class="price-subtotal"></span>
        </div>
      </section> -->
      
      <div class="container-envios">
        <section class="container-send">
          <div class="medios">
            <span><i class="fas fa-truck"></i></span>
            <span>Medios de envio</span>
          </div>
          
          <div class="postal">
            <div class="input-postal">
              <input
              type="number"
              name=""
              id=""
              placeholder="Tu codigo postal"
              />
            </div>
            
            <div class="calcular">
              <button>
                <span>CALCULAR</span>
              </button>
            </div>
          </div>
          
          <div class="no-se">
            <a
            href="https://www.correoargentino.com.ar/formularios/cpa"
            target="_blank"
            >No se mi codigo postal</a
            >
          </div>
        </section>
        
        <div class="local">
          <i class="fas fa-store"></i>
          <span>Nuestro local</span>
        </div>
        
        <section class="ubicacion-local">
          <div class="container-radio">
            <input type="radio" />
          </div>
          
          <div class="detalle-ubicacion">
            <span
            >Retirar por Mendoza Plaza Shopping-795, Guaymallen con n° de compra cuando figure como "listo para retirar" Los artículos se retiran en Mendoza Plaza Shopping-795, Piso 2 , Capital Federal. Horarios: Lunes a Sábados de 12 a 18hs, una vez que el pedido figure como "listo para retirar" en el link del mail de confirmación de compra.</span
            >
          </div>
          
          <div class="gratis">
            <h2>Gratis</h2>
          </div>
        </section>
      </div>
      
      <div class="container-compras"></div>
      
      <section class="total-compra">
        <div class="total-resultado">
          <span class="s-total">Total:</span>
          <span>$5.000,12</span>
        </div>
        
        <div class="container-compra">
          <button>INICIAR COMPRA</button>
        </div>
      </section>
      
      
    </div>
  </div>
  
  <%-include('../partials/infoEnvios.ejs') %>
  <%-include('../partials/footer.ejs') %>
  <%-include('../partials/scripts.ejs') %>
</body>
</html>
