<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs')  %> 
    
    <body class="register">

        <%- include('../partials/header.ejs')  %> 
        
    <div class="login">
        <div class="form-container">
            <h2>Registrarse</h2>
            <form id="form" action="/users/register" method="POST" enctype="multipart/form-data">
                <div class="form">
                    <div class="input-container">
                        <label for="nombre">Nombre</label>
                        <input id="name" class="input-style" type="text" name="name" placeholder="Nombre" value="<%= locals.old && old.name %>">
                        <span id="nameErrors"></span>
                        <% if (locals.errors && errors.name) { %>
                            <small class="error-message"><%= errors.name.msg %></small>
                            <% } %>
                    </div>
                    <div class="input-container">
                        <label for="apellido">Apellido</label>
                        <input id="lastName" class="input-style" type="text" name="last_name" placeholder="Apellido" value="<%= locals.old && old.last_name %>">
                        <span id="lastNameErrors"></span>
                        <% if (locals.errors && errors.last_name) { %>
                            <small class="error-message"><%= errors.last_name.msg %></small>
                            <% } %>
                    </div>
                    <div class="input-container">
                        <label for="email">Email</label>
                        <input id="email" class="input-style" type="email" name="email" placeholder="Ingrese su email">
                        <span id="emailErrors"></span>
                        <% if (locals.errors && errors.email) { %>
                            <small class="error-message"><%= errors.email.msg %></small>
                            <% } %>
                    </div>
                    <div class="input-container">
                        <label for="contraseña">Contraseña</label>
                        <input id="pass" class="input-style" type="password" name="pass1" placeholder="Ingrese su contraseña">
                        <span id="passErrors"></span>
                        <% if (locals.errors && errors.pass1) { %>
                            <small class="text-danger"><%= errors.pass1.msg %> </small>
                        <% } %>
                    </div>
                    <div class="input-container">
                        <label for="repeat contraseña">Confirmar contraseña</label>
                        <input id="pass2" class="input-style" type="password" name="pass2" placeholder="Repita su contraseña">
                        <span id="pass2Errors"></span>
                        <% if (locals.errors && errors.pass2) { %>
                            <small class="text-danger"><%= errors.pass2.msg %> </small>
                        <% } %>
                    </div>
                    <div class="container-file">
                        <i class="fas fa-upload"></i>
                        <p>Subir una foto</p>
                        <input type="file" name="avatar">
                        <% if (locals.errors && errors.image) { %>
                            <small class="text-danger"><%= errors.image.msg %> </small>
                        <% } %>
                    </div>
                    <div class="check">
                        <label id="labelTerms" for="terms">Acepto los términos y condiciones</label>
                        <input type="checkbox" name="terms" id="terms">
                        <span id="termsErrors"></span>
                        <% if (locals.errors && errors.terms) { %>
                            <small class="text-danger"><%= errors.terms.msg %> </small>
                        <% } %>
                    </div>
                    <div class="button-container">
                        <span class="error-message">Hubo errores en el envío</span>
                        <span id="submitErrors"></span>
                        <button type="submit" class="btn btn-submit">Registrarme</button>
                    </div>
    
                    <div class="button-container">
                        
                        <button type="submit" class="btn btn-submit facebook"><i class="fab fa-facebook-square"></i><a href="">Continuar con Facebook</a></button>
                    </div>
    
                    <div class="button-container">
                        <button type="submit" class="btn btn-submit google"><i class="fab fa-google-plus-square"></i><a href="" class="google">Continuar con Google</a></button>
                    </div>
                    
                    <div class="yes-account">
                        <span>¿Ya tenés una cuenta?</span><br>
                        <span><a href="/users/login">Inicia sesion</a></span>
                    </div>
                </div>
                
            </form>
        </div>
    </div>

        <script src="/js/register.js"></script>
        <%- include('../partials/footer.ejs')  %> 

    </body>
    </html>