<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs')  %> 
    
    <body class="register">

        <%- include('../partials/header.ejs')  %> 
        
    <div class="login">
        <div class="form-container">
            <h2>Registrarse</h2>
            <form action="/users/register" method="POST">
                <div class="form">
                    <div class="input-container">
                        <label for="nombre">Nombre</label>
                        <input class="input-style" type="text" name="nombre" placeholder="Nombre" value="<%= locals.old && old.nombre %>">
                        <% if (locals.errors && errors.nombre) { %>
                            <small class="error-message"><%= errors.nombre.msg %></small>
                            <% } %>
                    </div>
                    <div class="input-container">
                        <label for="apellido">Apellido</label>
                        <input class="input-style" type="text" name="apellido" placeholder="Apellido" value="<%= locals.old && old.apellido %>">
                        <% if (locals.errors && errors.apellido) { %>
                            <small class="error-message"><%= errors.apellido.msg %></small>
                            <% } %>
                    </div>
                    <div class="input-container">
                        <label for="email">Email</label>
                        <input class="input-style" type="email" name="email" placeholder="Ingrese su email" value="<%= locals.old && old.email %>">
                        <% if (locals.errors && errors.email) { %>
                            <small class="error-message"><%= errors.email.msg %></small>
                            <% } %>
                    </div>
                    <div class="input-container">
                        <label for="contraseña">Contraseña</label>
                        <input class="input-style" type="password" name="pass" placeholder="Ingrese su contraseña">
                        <% if (locals.errors && errors.pass) { %>
                            <small class="error-message"><%= errors.pass.msg %></small>
                            <% } %>
                    </div>
                    <div class="input-container">
                        <label for="repeat contraseña">Confirmar contraseña</label>
                        <input class="input-style" type="password" name="pass2" placeholder="Repita su contraseña">
                        <span class="error-message">Debes re-ingresar tu contraseña</span>
                    </div>
                    <div class="container-file">
                        <i class="fas fa-upload"></i>
                        <p>Subir una foto</p>
                        <input type="file" name="image" id="" value="">
                    </div>
                    <span class="error-image">Debe ingresar una imagen</span>
                    <div class="check">
                        <label for="terms">Acepto los <a href="">términos y condiciones</a></label>
                        <input type="checkbox" name="terms" id="terms">
                        <span class="error-message">Debes aceptar los términos y condiciones</span>
                    </div>
                    <div class="button-container">
                        <span class="error-message">Hubo errores en el envío</span>
                        <button type="submit" class="btn btn-submit">Registrarme</button>
                    </div>
    
                    <div class="button-container">
                        
                        <button type="submit" class="btn btn-submit facebook"><i class="fab fa-facebook-square"></i><a href="">Continuar con Facebook</a></button>
                    </div>
    
                    <div class="button-container">
                        <button type="submit" class="btn btn-submit google"><i class="fab fa-google-plus-square"></i><a href="" class="google">Continuar con Google</a></button>
                    </div>
                    
                    <div class="yes-account">
                        <span>¿Ya tenés una cuenta?</span><br>
                        <span><a href="/users/login">Inicia sesion</a></span>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
        <%- include('../partials/footer.ejs')  %> 

    </body>
    </html>