<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <div class="userMancha">
        <img src="/img/avatar/pngwing.com (5).png" alt="">
    </div>
    <div class="userMancha">
        <img src="/img/avatar/pngwing.com (5).png" alt="">
    </div>
    <main class="userProfile">
        <div class="avatar">
            <img src="/img/users/<%= user.avatar %>" alt="Foto de Perfil">
        </div>
        <div class="userProfile-container">
            
            <section class="info-user">
                <h3 class="userProfile_title">Mis datos</h3>
                <div class="userProfile_box">
                    <i class="fas fa-user"><p class="userProfile_item"><%= user.name %> <%= user.last_name %></p></i>
                    <i class="fas fa-envelope"><p class="userProfile_item"><%= user.email %></p></i>
                    <i class="fas fa-mobile-alt"><p class="userProfile_item"><%= user.tel ? user.tel : "------" %></p></i>                
                </div>
            </section>
            
            <section class="info-user">
                <h3 class="userProfile_title">Datos personales</h3>
                <div class="userProfile_box">
                    <p class="userProfile_item">Dirección: ---- </p>
                    <p class="userProfile_item">Código postal: ---- </p>
                    <p class="userProfile_item">Provincia: ---- </p>
                    <p class="userProfile_item">Localidad: ---- </p>
                </div>
            </section>
            
            <section class="info-cart">
                <h3 class="userProfile_title">Mis compras</h3>
                <div class="userProfile_box">
                    <i class="fas fa-shopping-cart"></i>
                    <div class="box-cart">
                        <p class="userProfile_item">Hace tu primera compra</p>
                        <a href="/">IR A LA TIENDA</a>
                    </div> 
                </div>
            </section>
            
            <a href="/users/profile/edit/" class="btn-edit">EDITAR DATOS</a>
        </div> 
    </main> 

    <%- include('../partials/infoEnvios.ejs') %>
    <%- include('../partials/footer') %>
</body>
</html>