<!DOCTYPE html>
<html lang="es">
<%- include('../../partials/head.ejs')  %>

<body>
    
    <%- include('../../partials/header.ejs')  %> 
    
    <body class="admin">
        <div class="form-container-admin">
            <h2>Formulario de Creacion de producto</h2>
            <form action="/admin" method="POST" enctype="multipart/form-data" id="form"> <!-- Siempre poner la linea del enctype , solo si el type del input es file -->
                <div class="form-admin">

                        <div class="input-admin">
                            <label for="name">Nombre del Producto</label>
                            <input class="input-style-admin" type="text" name="name" id="name" placeholder="Ej: Guante del infinito" value='<%= locals.old && old.name %>'>
                            <span id="nameError" class="error"></span>
                            <% if (locals.errors && errors.name) { %>
                            <span class="error-message"><%= errors.name.msg %></span>
                            <% } %> 
                        </div>

                        <div class="input-admin">
                            <label for="price">Precio del producto</label>
                            <input class="input-style-admin" type="text" name="price" id="price" placeholder="Ej: 3000" value='<%= locals.old && old.price %>'>
                            <span id="priceError" class="error"></span>
                            <% if (locals.errors && errors.price) { %>
                                <span class="error-message"><%= errors.price.msg %></span>
                                <% } %>  
                        </div>

                            <div class="input-admin">
                                <label for="discount">Descuento</label>
                                <input class="input-style-admin" type="number" name="discount" id="discount" placeholder="Ej: 50"  value='<%= locals.old ? old.discount : 0 %>'>
                                <span id="discountError" class="error"></span>
                                <% if (locals.errors && errors.discount) { %>
                                    <span class="error-message"><%= errors.discount.msg %></small>
                                    <% } %>    
                            </div>

                            <div class="input-admin">
                                <select class="form-select categorySelect" id="category" name="category">
                                  <option selected hidden value="">Categorias</option>
                                <% categories.forEach(category => { %>
                                    <option value="<%- category.id %>" <%= locals.old && old.category == category.id ? "selected" : "" %> ><%- category.name %> </option>
                                <% }) %>
                                </select>
                                <span id="categoryError" class="error"></span>
                                <% if (locals.errors && errors.category) { %>
                                    <span class="error-message"><%= errors.category.msg %> </span>
                                <% } %>
                            </div>

                            <div class="input_admin">
                                <select class="form-select subcategorySelect" id="subcategory" name="subcategory">
                                  <option selected hidden value="">Subcategorias</option>
                                  <% subcategories.forEach(subcategory => { %>
                                    <option value="<%- subcategory.id %>" <%= locals.old && old.subcategory == subcategory.id ? "selected" : ""  %> ><%- subcategory.name %> </option>
                                  <% }) %>
                                </select>
                                <span id="subcategoryError" class="error"></span>
                                <% if (locals.errors && errors.subcategory) { %>
                                    <span class="error-message"><%= errors.subcategory.msg %> </span>
                                <% } %>
                            </div>

                            <div class="input-admin description">
                                <label for="description">Descripcion</label>
                                <textarea class="description" name="description" id="description"><%= locals.old && old.description %></textarea>
                                <span id="descriptionError" class="error"></span>
                                <% if (locals.errors && errors.description) { %>
                                    <span class="error-message" id><%= errors.description.msg %></span>
                                <% } %>      
                            </div>
                            
                            <div class="container-file">
                                <i class="fas fa-upload"></i>
                                <p>Ingrese una Imagen</p>
                                <input class= "" type="file" name="image" id="image" multiple>
                                <span id="imageError" class="error"></span>
                                <% if (locals.errors && errors.image) { %>
                                    <span class="error-message"><%= errors.image.msg %></span>
                                <% } %>
                            </div>
                            
                            
                            <div class="button-admin">
                                <span id="submit-error" class="error">.</span>
                                <button type="submit" class="btn btn-submit">Crear Producto</button>
                            </div>
                            
                        </div>
                        
                    </form>
                </div>
                
            </body>
            <script src="/js/productCreate.js"></script>
        </body>
        
        </html>